.dashboard {
  text-align: center;
}
.date {
  color: rgb(52, 111, 159);
  font-size: 2rem;
}
.title {
  font-size: 4rem;
}
.cards {
  display: flex;
  border: 1px solid black;
  justify-content: space-around;
  flex-wrap: wrap;
}

.element {
  height: 350px;
  width: 270px;
  box-shadow: 0px 3px 10px rgb(80, 80, 80);
  border-radius: 15px;
  background-color: #6a8eae;
  text-align: center;
  align-items: center;
}
.element:hover {
  background: #445b70;
}
